#home-page__ion-content {
  --padding-top: 10em !important;
  --padding-start: 13em !important;
  --padding-end: 13em !important;
}

#home-page-row-1 {
  margin-bottom: 0.75em;
}

#home-page-row-2 {
  margin-bottom: 3em;
}

#home-page__buttons > * {
  margin: 0 1em;
}

h1 {
  color: var(--purple-light);
}