@import './variables.css';

.text-medium {
  font-size: 1.2em;
}

.text-large {
  font-size: 2em;
  font-weight: 700;
}

.text-xlarge {
  font-size: 3.75em;
}

.text-bold {
  font-weight: 700;
}

.button {
  cursor: pointer;
  outline: none;
  text-decoration: none;
  font-weight: 700;
  border-radius: 5px;
}

.button-purple {
  background: #3D2286;
  border: none;
  color: white;
}

.button-white {
  background: #ffffff;
  border: none;
  color: #070422;
}

.button-red {
  background: #b92d28;
  border: none;
  color:  #ffffff;
}

.button-small {
  padding: 0.25em 1.2em;
}

.button-medium {
  padding: 0.55em 2.2em;
  font-size: 1em;
}

.button-large {
  font-size: 1em;
  padding: 0.85em 4em;
}

.button-input {
  width: 40%;
  height: 2.3em;
}

.text-bold {
  font-weight: 700;
}

.link {
  text-decoration: none;
}

.flex-row {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.input {
  outline: none;
  padding: 0.35em 0.5em;
  border: 1px solid rgb(79, 79, 79);
  background: rgb(30, 26, 43);
  border-radius: 5px;
}

.ul {
  list-style: none;
}

.form {
  width: 25em;
}

.pull-right {
  margin-left: auto;
}

.full-width {
  width: 100%;
}

.hidden {
  display: none !important;
}